<!--
 * @Description: 组件模板
 * @Date: 2020-09-29 01:33:58 +0800
 * @Author: JackChouMine
 * @LastEditTime: 2020-12-27 23:25:11 +0800
 * @LastEditors: JackChou
-->
<div class="stock-container">
  <div class="name">
    <!-- 插值语法 [JS表达式] -->
    <h3 [ngStyle]="nameStyle">[stock.name]</h3>
    - <h4>([stock.code])</h4>
  </div>
  <!-- 属性绑定语法 [dom属性] = "表达式" 不会覆盖现有的class -->
  <div>
    <button (click)="reduce()">-</button>
    <!-- [class]="stock.isPositiveChange?positive:'negative'" -->
    <span class="price" [ngClass]="stockClass">
      $ [stock.price]
    </span>
    <button (click)="add()">+</button>
  </div>
  <!-- 使用 (event) = "函数调用" -->
  <button (click)="toggleFavorite($event,'otherParam')"
    [disabled]="stock.isFavorite">[stock.isFavorite?'已经购入':"购入"]</button>
</div>
