<!--
 * @Description: 组件模板
 * @Date: 2020-09-29 01:33:58 +0800
 * @Author: JackChouMine
 * @LastEditTime: 2020-10-03 15:51:00 +0800
 * @LastEditors: JackChouMine
-->
<div class="stock-container">
  <div class="name">
    <!-- 插值语法 {{JS表达式}} -->
    <h3>{{stock.name}}</h3>
    - <h4>({{stock.code}})</h4>
  </div>
  <!-- 属性绑定语法 [dom属性] = "表达式" 不会覆盖现有的class -->
  <div class="price" [class]="stock.isPositiveChange?'positive':'negative'">$ {{stock.price+10}}</div>
  <!-- 使用(event) = "函数调用" -->
  <button (click)="toggleFavorite($event,'otherParam')"
    [disabled]="stock.isFavorite">{{stock.isFavorite?'已经购入':"购入"}}</button>
</div>