<!--
 * @Description: 模板驱动表单
 * @Date: 2020-10-04 18:25:02 +0800
 * @Author: JackChouMine
 * @LastEditTime: 2020-10-04 20:15:40 +0800
 * @LastEditors: JackChouMine
-->
<p [textContent]="stock.name"></p>
<h2>{{stock.name}}</h2>
<h2 [innerHtml]="stock.name"></h2>
<div class="form-group">
  <form>
    <div>
      <!-- <input type="text" placeholder="请输入股票名字" [value]="stock.name" (input)="stock.name=$event.target.value"> -->
      <!-- <input type="text" placeholder="请输入股票名字" name="stockName" [ngModel]="stock.name"
        (ngModelChange)="stock.name = $event"> -->
      <input type="text" placeholder="请输入股票名字" name="stockName" [(ngModel)]="stock.name">
    </div>
  </form>
  <button (click)="stock.name='test'">重置</button>
</div>
<style>
  p {
    color: red
  }
</style>